*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-family: "Poppins", sans-serif;
    color: white;
}
body{
    background-color: #00040F;

}
.container{
    width: 1170px;
    margin: 0 auto;
    min-height: 30px;
}
.gradient{
    background: -webkit-linear-gradient(#DEF9FA,#BEF3F5,#9DEDF0,#7DE7EB,#5CE1E6,#33BBCF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}
.navbar-content img{
    height: 100%;
}
.navbar-content ul{
    display: flex;
    gap: 56px;
}
.navbar-content a{
    color: white;
    opacity: 0.7;
}
.navbar-content a:hover{
    color: white;
    opacity: 1;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-p{
    width: 408px;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color:#272727;
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 150%;
    gap: 5px;
}
.opasity{
    opacity: 0.7;
}
.bg-color{
 background-color: #272727; 
}
.header-text{
    width: 700px;
    margin-left: 165px;
    margin-right: -300px;
    z-index: +3;
    
}
.header-text h1{
    font-weight: 600;
    font-size: 72px;
   
}
.header-text p{
    font-size: 18px;
    line-height: 170%;
    margin-top: 40px;
    width: 490px;
}
.get-sterted{
    position: absolute;
    top: 250px;
    left: 605px;
    padding: 45px 30px;
    border: 3px solid #33BBCF;
    border-radius: 49%;
    font-size: 18px;
    line-height: 130%;
}
.header-img{
    width: 800px;
   
}
.h-botton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.user{
    display: flex;
    gap: 30px;
}
.user h3{
    font-weight: 600px;
    font-size: 40px;
    color: #FFFFFF;
}
.user p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600px;
    font-size: 20px;
    
}
.biznes{
 margin-top: 180px;
 width: 622px;  
 font-size: 48px;   
}
.biznes-p{
  width: 570px; 
  display: flex; 
  flex-direction: column;
  margin-top: 24px;
}
.button-b{
    width: 170px;
    height: 64px;
    margin-top: 48px;
    border-radius: 10px; 
    padding: 10px; 
    background-color:#33BBCF;
    color: #00040F;  
}
.b-content{
    display: flex;

}
.fa-star{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 215px;  
    margin-right: 10px;
    font-weight: 32;
    color: #33BBCF;
}
.biznes1{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 98px;  
}
.money{
    display: flex;
}
.money1{
    display: flex;
}
.money2{
    display: flex;
}
.rew{
    margin-top: 210px;
}
.fa-shield-heart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-right: 10px;
    font-weight: 32;
    color: #33BBCF; 
}
.fa-telegram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: 32;
    color: #33BBCF;   
}
.biznes2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.paypal{
    margin-top: 160px;
    width: 700px;
    height: 455px;
    position: relative;
}
.paypal1{
    position: absolute;
    right: 0;
    top: 0;
    left: 220px;
    z-index: +1;
    bottom: 400px;
}
.paypal2{
    margin-right: 50px;
    position: absolute;
    left: 0;
    bottom: 10px; 
}
.p-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Paypal{
    width: 470px;
    margin-top: 208px;
}
.Paypal p{
margin-top: 24px;
}
.img{
    display: flex;
    justify-content:start;
    align-items: start;
    margin-top: 49px;
    gap: 32px;
}
.card img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 198px;
}
.img1{
    width: 191px;
    height: 158px;
}

.c-content{
    display: flex;
}
.people{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 129px;
    margin-top: 170px;
}
.p-h2{
font-family: Poppins;
font-weight: 600;
font-size: 48px;
line-height: 170%;
 width: 470px;
height: 164px;
}
.p-p{
    font-family: Poppins;
font-weight: 400;
font-size: 18px;
line-height: 180%;
letter-spacing: 1%;
width: 450px;
height: 64px;
}
.people1{
display: flex;
}
.kenn{
    margin-top: 30px;
}
.pul{
    padding: 40px;
    margin-top: 80px;
    width: 370;
    height: 395;
    border-radius: 20px;
    background-color: #6D6D6D;
    margin-right: 70px;
}
.pul1{
    padding: 40px;
    margin-top: 80px;
    width: 370;
    height: 395;
    border-radius: 20px;
    margin-right: 110px;
}
.pul2{
    padding: 40px;
    margin-top: 80px;
    width: 370;
    height: 395;
    border-radius: 20px;
}
.box-content{
    margin-top: 100px;
    margin-bottom: 100px;
}
.get{
    display: flex;
}
.gs{
    margin-top: 180px;
    margin-left: 133px;
}
.padding-c{
   
   padding: 72px,72px, 97px, 100px ;
}
.hoobank{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    gap: 30px;
}
.bank{
    width: 266px;
    height: 72px;
}
.hoo{
    display: flex;
    gap: 140px;
    margin-bottom: 40px;
  
}
.footer-ul{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 18px;
}
.footer-p{
    width: 312px;
    height: 64px;
}
.copy{
    display: flex;
    gap: 47px;
}
.foot{
    display: flex;
     justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 543px;
    gap: 36px;
}
